target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE files ###
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.settings/
.classpath
.project

### OS & Temp files ###
.DS_Store
Thumbs.db
*.log
*.tmp
